{
    "env": {
        "development": {
            "presets": ["@babel/preset-env"],
            "plugins": [
                "transform-object-rest-spread"
            ]
        },
        "production": {
            "presets": ["@babel/preset-env"],
            "plugins": [
                "transform-object-rest-spread"
            ]
        }
    }
}
