{
    "env": {
        "development": {
            "plugins": [
                "transform-es2015-modules-simple-commonjs"
            ]
        },
        "production": {
            "plugins": [
                "transform-es2015-modules-simple-commonjs"
            ]
        }
    }
}
